<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660422424385-rtafldi2m51ght9b9s40e123t9nrtok1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660422424385-rtafldi2m51ght9b9s40e123t9nrtok1</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHce732_OQh9OOw3crV-3FcHuS63fdXY</string>
	<key>GCM_SENDER_ID</key>
	<string>660422424385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergioarranz.Genome-Social-Network</string>
	<key>PROJECT_ID</key>
	<string>genome-social-network</string>
	<key>STORAGE_BUCKET</key>
	<string>genome-social-network.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:660422424385:ios:693b96f9aed20f0c</string>
	<key>DATABASE_URL</key>
	<string>https://genome-social-network.firebaseio.com</string>
</dict>
</plist>